@use '../constants.scss' as vars;

.challenge-card {
  background-color:  rgb(215, 226, 243);
  color: white;
  border-radius: vars.$radius-xl;
}

.challenge-card .card-data {
  background: rgb(78, 139, 188);
  border-top-left-radius: vars.$radius-xl;
  border-top-right-radius: vars.$radius-xl;
  padding: 1rem 1.2rem;
  position: relative;
  height: 120px;
}

.challenge-card .card-content .card-title {
  font-weight: 600;
}

.challenge-card .card-content {
  position: absolute;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.challenge-card .card-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: vars.$radius-xl;
  border-top-right-radius: vars.$radius-xl;
}

.challenge-card .card-footer {
  color: rgb(28, 38, 93);
  background-color: rgb(241,243,253);
  border-bottom-left-radius: vars.$radius-xl;
  border-bottom-right-radius: vars.$radius-xl;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.2rem;
  height: 51px;
}

.challenge-card .progress {
  display: flex;
}

.challenge-card .progress .total-days {
  margin-right: 5px;
  font-weight: 600;
}

.challenge-card .progress .passed-days {
  font-weight: 600;
}

.challenge-card .join {
  border-radius: vars.$radius-xl;
  background-color: vars.$green-btn-color;
}

.challenge-card .author {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.challenge-card .author .avatar {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.challenge-card .author-data .name {
  font-size: .875rem;
  font-weight: 600;
}