header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 16px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.firstname {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.username {
    font-size: 14px;
    color: #9ca3af;
}

.avatar img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: linear-gradient(135deg, #6366f1, #22d3ee);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.tabs {
    justify-self: center;
    justify-content: center;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 28px;
    background: #0b0d1a;
    width: max-content;
    height: max-content;
    border-radius: 999px;
    padding: .5rem 1rem;
}

.tab {
    padding: .5rem 1rem;
    position: relative;
    border-radius: 999px;
    color: #9ca3af;
    cursor: pointer;
    transition:
    color 0.25s ease,
    transform 0.25s cubic-bezier(.34,1.56,.64,1),
    background-color 0.25s ease;
}

.tab:hover {
    color: #e5e7eb;
    transform: scale(1.05);
}

.tab.active {
    color: white;
    background: linear-gradient(90deg, #6c7cff, #4ade80);
    transform: scale(1.15);
}

.challenge-container {
    padding: 0 1.5rem;
    margin-top: 1rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}